@model Tuple<List<LMDB.ViewModels.Movie.MovieIndexViewModel>, List<LMDB.Models.Genre>>
@Styles.Render("~/Styles/MoviesIndex.css")

@{
    ViewBag.Title = "CategoryIndex";
}

<div class="wrapper">
    <div class="sidebar">
        <div class="seperator"></div>

        <ul class="menu center">
            <div>
                <p id="add-new-movie">
                    @Html.ActionLink("Add New Movie", "Create","Movie")
                </p>
            </div>
        </ul>

        <div class="seperator">
            <div class="title">Sort</div>
        </div>
        <ul class="menu-2">
            <li class="active"><a href="#">All</a></li>
            <li><a href="#">Year</a></li>
            <li><a href="#">Latest</a></li>
            <li><a href="#">Top</a></li>
            <li><a href="#">Rating</a></li>
        </ul>

        <div class="seperator">
            <div class="title">Category </div>
        </div>

        <ul class="menu">
            @{
                var moviesList = Model.Item2.Select(g => new {Id = g.Movies.Select(m => m.Id)}).ToList();
                var all = new List<int>();
                foreach (var ml in moviesList)
                {
                    all.AddRange(ml.Id);
                }
                var count = all.Distinct().Count();
            }
            <li class="active"><a href="@Url.Action("Index", "Movie")">All<span>@count</span></a></li>
            @foreach (var category in Model.Item2)
            {
                <li><a href="@Url.Action("CategoryIndex", "Movie", new {genreName = category.Name})">@category.Name<span>@category.Movies.Count</span></a></li>
            }
        </ul>
    </div>

    <!-- MAIN -->
    <div class="main">
        <div class="content">
            <div class="gallery">
                @foreach (var item in Model.Item1)
                {
                    <!-- ITEMS -->
                    <div class="item">
                        <div class="director">by: <span class="director-name">@item.DirectorName</span></div>
                        @{
                            var rating = item.Rating;
                            if (rating < 0.5) { rating = 0; }
                            else if (rating < 2) { rating = 5; }
                            else if (rating < 3) { rating = 10; }
                            else if (rating < 4) { rating = 15; }
                            else if (rating < 4) { rating = 20; }
                            else if (rating < 6) { rating = 25; }
                            else if (rating < 7) { rating = 30; }
                            else if (rating < 8) { rating = 35; }
                            else if (rating < 9) { rating = 40; }
                            else if (rating < 10) { rating = 45; }
                            else { rating = 50; }
                        }
                        <span class="rating-static rating-@rating"></span>
                        <div class="description">
                            <h2>@item.Title</h2>
                            <p>
                                @{
                                    var date = item.DateReleased.ToString("Y");}
                                @date
                            </p>
                        </div>
                        <p class="actions">
                            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                            @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row"></div>

