@model LMDB.Models.Movie

@{
    ViewBag.Title = "Details";
    var movie = Model;
}

@Styles.Render("~/Styles/MovieDetails.css")

<div class="moviecard">
    <div class="movie-poster play-trailer">Poster</div>
    <div id="movie-content">
        <div class="movie-title">@movie.Title<span class="movie-year">@movie.DateReleased.Year</span></div>
        <div class="movie-details"><span class="movie-genre">@String.Join(", ",movie.Genres.Select(g=>g.Name).ToList())</span></div>
        <div class="movie-castcrew"><span class="title">Director</span><span class="name">@movie.Director.FirstName @movie.Director.LastName</span></div>
        <div class="movie-castcrew"><span class="title">Cast</span><span class="name">@String.Join(", ",movie.Actors.Select(a=>$"{a.FirstName} {a.LastName}").ToList())</span></div>
        <div class="movie-castcrew"><span class="title">Awards</span><span class="name">@String.Join(", ", movie.Awards.Select(a => a.Category.Name).ToList())</span></div>
        <div class="movie-synopsis">Movie review comes here</div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
