@using System.Globalization
@model Tuple<List<LMDB.ViewModels.Movie.MovieIndexViewModel>, List<LMDB.Models.Genre>>
@Styles.Render("~/Styles/MoviesIndex.css")
@Scripts.Render("~/Scripts/movies.js")
@{
    ViewBag.Title = "SortedListInCategory";
}

<div class="wrapper">
    <div class="sidebar">
        <div class="seperator"></div>

        <ul class="menu center">
            <div>
                <p id="add-new-movie">
                    @Html.ActionLink("Add New Movie", "Create", "Movie")
                </p>
            </div>
        </ul>

        <div class="seperator">
            <div class="title">Sort</div>
        </div>
        <ul class="menu-2">
            <li class="active"><a href="#">All</a></li>
            <li><a href="@Url.Action("SortedListInCategory", "Movie", new {sortType = "Year", genre=Session["Genre"].ToString()})">Year</a></li>
            <li><a href="#">Latest</a></li>
            <li><a href="#">Comments</a></li>
            <li><a href="#">Rating</a></li>
        </ul>

        <div class="seperator">
            <div class="title">Category </div>
        </div>

        <ul class="menu">
            @{
                var moviesList = Model.Item2.Select(g => new { Id = g.Movies.Select(m => m.Id) }).ToList();
                var all = new List<int>();
                foreach (var ml in moviesList)
                {
                    all.AddRange(ml.Id);
                }
                var count = all.Distinct().Count();
            }
            <li class="active"><a href="@Url.Action("Index", "Movie")">All<span>@count</span></a></li>
            @foreach (var category in Model.Item2)
            {
                <li><a href="@Url.Action("CategoryIndex", "Movie", new {genreName = category.Name})">@category.Name<span>@category.Movies.Count</span></a></li>
            }
        </ul>
    </div>

    <!-- MAIN -->
    @Html.Partial("_MoviesListPartial", Model)
</div>

<div class="row"></div>