@model LMDB.Models.Actor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Actor</h4>
    &larr; @Html.ActionLink("Back to List", "Index")
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Name
        </dt>

        <dd>
            @{
                var name = $"{Model.FirstName} {Model.LastName}";
            }
            @Html.DisplayFor(model => name)
        </dd>

        <dt>
            Country
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.Name)
        </dd>
        <dt>  
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dt>
            &nbsp;
        </dt>
        <dd>
            @{
                string bd = string.Empty;
                if (Model.Birthdate != null)
                {
                    bd = Model.Birthdate.Value.Date.ToString("dd MMMM yyyy");
                }
                else
                {
                    bd = "Unknown";
                }
            }
            @Html.DisplayFor(model => bd)
        </dd>
        <dt>
            Movies
        </dt>
       
        <dd>
            @{
                for (int i = 0; i < Model.ParticipatedMovies.Count; i++)
                {
                    var movie = Model.ParticipatedMovies.ToList()[i];
                    <p>@Html.ActionLink(movie.Title, "Details", "Movie", new {id = movie.Id}, null)</p>
                }
            }
        </dd>
        @{
            if (Model.Awards.Count > 0)
            {
                <dt>
                    Awards
                </dt>
                <dd>
                    <ul>
                        @{
                            for (int i = 0; i < Model.Awards.Count; i++)
                            {
                                var award = Model.Awards.ToList()[i];
                                <li>@award.Award.Name for <span style="font-weight: bold">@award.Category.Name</span></li>
                            }
                        }
                    </ul>
                </dd>
            }
        }
        @{
            if (Model.Biography != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Biography)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Biography)
                </dd>
            }
        }     
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |  
    @Html.ActionLink("Delete", "Delete", new {id = Model.Id})
</p>


