@model IPagedList<LMDB.Models.Actor>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Actors";
}

<h2>Actors</h2>

<p>
    @Html.ActionLink("Add New Actor", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Age
        </th>
        <th>
            Country
        </th>
        <th>
            Awards
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    var fullName = $"{item.FirstName} {item.LastName}";
                }
                @fullName
            </td>
            <td>
                @{
                    string actorAge = string.Empty;
                    if (item.Birthdate != null)
                    {
                        var birthDate = item.Birthdate;
                        var now = DateTime.UtcNow;
                        var age = now.Year - item.Birthdate.Value.Year;
                        if (now.Month < birthDate.Value.Month || (now.Month == birthDate.Value.Month && now.Day < birthDate.Value.Day))
                        {
                            age--;
                        }
                        actorAge = age.ToString();
                    }
                    else
                    {
                        actorAge = "Unknown";
                    }
                }
                @actorAge
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Awards.Count)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back to Home", "Index", "Home")
</p>

<div class="pager">@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })</div>
