@model LMDB.ViewModels.Account.RegisterViewModel
@Styles.Render("~/Styles/UserForm.css")

<div class="row col-md-8">
    <div class="col-md-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading" id="title">
                <h3 class="panel-title"><b>Register</b></h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Create a new account.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Username) })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.FirstName) })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control",placeholder = Html.DisplayNameFor(m => m.LastName) })
                        </div>
                    </div>

                    @Html.LabelFor(m => m.Gender)
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EnumDropDownListFor(m => m.Gender, new { @class = "form-control"})
                        </div>
                    </div>

                    @Html.LabelFor(m => m.OriginCountryId)
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.OriginCountryId,
       new SelectList(ViewBag.Countries, "Id", "Name"),
              "Select country",
              new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.OriginCountryId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email) })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })
                        </div>
                    </div>

                    @Html.LabelFor(m => m.ProfilePicture)
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.ProfilePicture, new { @class = "form-control", type = "file", accept = "image/*", placeholder = Html.DisplayNameFor(m => m.ProfilePicture) })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-sm btn-success" value="Register" />
                        </div>
                    </div>
                }
            </div>
            </div>
        </div>
    </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
