@model LMDB.ViewModels.Director.DirectorCreateViewModel
@Styles.Render("~/Styles/CreateDirectorForm.css")

<div class="row col-md-8">
    <div class="col-md-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading" id="title">
                <h3 class="panel-title"><b>Create Director</b></h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Create", "Directors", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Create a new director.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.FirstName) })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.LastName) })
                        </div>
                    </div>

                    @Html.LabelFor(m => m.Biography)
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextAreaFor(m => m.Biography, new { @class = "form-control" })
                        </div>
                    </div>

                    @Html.LabelFor(m => m.Country)
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.Country, Model.Countries, "Select Country", new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
                    </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Birthdate, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Birthdate) })
                            </div>
                        </div>
                        @Html.LabelFor(m => m.Picture)
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Picture, new { @class = "form-control", type = "file", accept = "image/*", placeholder = Html.DisplayNameFor(m => m.Picture) })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-sm btn-success" value="Create" />
                            </div>
                        </div>
                }
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
