@model LMDB.Models.Director

@{
    ViewBag.Title = "Details";
    var directedMovies = Model.DirectedMovies.Select(m => m.Title).ToList();
}

<h2>Details</h2>

<div>
    <h4>Director</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @{
                var name = $"{Model.FirstName} {Model.LastName}";
            }
            @Html.DisplayFor(model => name)
        </dd>

        <dt>
            Country
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>

        <dd>
            @{
                string bd = string.Empty;
                if (Model.Birthdate != null)
                {
                    bd = Model.Birthdate.Value.Date.ToString("dd MMMM yyyy");
                }
                else
                {
                    bd = "Unknown";
                }
            }
            @Html.DisplayFor(model => bd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Biography)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Biography)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DirectedMovies)
        </dt>

        <dd>
            @{
                for (int i = 0; i < Model.DirectedMovies.Count; i++)
                {
                    var movie = Model.DirectedMovies.ToList()[i];
                    if (i < Model.DirectedMovies.Count - 1)
                    {
                        <span>@Html.ActionLink(movie.Title, "Details", "Movie", new { id = movie.Id }, null), </span>
                    }
                    else
                    {
                        <span>@Html.ActionLink(movie.Title, "Details", "Movie", new { id = movie.Id }, null)</span>
                    }
                }
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
